html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #002020
}

header {
  background-color: #003030;
  border-bottom: 2px solid #003f3f;
  width: 100%;
}

p, h1 {
  color: azure;
}

h1 {
  text-align: center;
  margin: 6px 0;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #90aaff;
}